@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:500')

html
  font-family: Roboto
  font-size: 20px

body
  margin: 0

header
  padding: 15px 10px
  background: coral

nav
  position: relative

.logo
  margin-bottom: 5px

ul
  list-style: none
  text-align: center
  padding-left: 0

  li
    margin-bottom: 10px

h2
  margin: 0

.hidden
  display: none

@import './hamburger'

.hamburger-container
  position: absolute
  right: 5px
  top: 20px

button
  outline: none
